
* {
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;   
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

img {
    width: 30px;
    height: 20px;
    border-radius: 50%;
}

nav {
    background-color: black;
    color: white; 
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;  
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
    margin-right: 10px;   
}

.mobile {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0 8px 16px 6px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.dropdown-btn {
    background-color: #111;
    color: white;
    border: none;
    font-weight: bold;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    color: white;
    background-color: black;
}

.dropdown-content a:hover {
    display: block;
    padding: 10px 20px;
    color: blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul a {
    text-decoration: none;
    color: white; 
}

a:hover {
    color: blue;
}

ul button {
    background-color: black;
    color: white;
    border: none;
}
#Home {
    display: grid;
    
    text-align: center;
    
    
}

.has-bcImage{
    background: url('/images/webDevelopment.jpeg') no-repeat center center fixed;
    background-size: cover;
    
}
#Home section{
    background-color: rgb(15, 232, 174);
    height: 55vh;
    text-align: center;

}

#Accomplishments {
    background-color: #570505;
    margin-bottom: 2px;
}

#Accomlishments header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 0 10px;
    
    
}

#Accomplishments article {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    justify-content: space-around;
}

#Accomplishments iframe {
    margin: 10px;
    width: 250px;
    height: 200px;   
}
#contacts {
    color: white;
    background-color: rgb(220, 158, 13);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 80vh;
}
#contacts article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

#contacts table,th,td{
    border: 2px solid black;
    border-radius: 5px;
}
#hobbies header{
    text-align: center;
    color: white;
    background-color: rgba(19, 61, 168, 0.489);
}
#hobbies .image-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr)); 
    grid-gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #48f000;}
.bcImage1{
    background: url(/images/football.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage2{
    background: url(/images/gaming.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage3{
    background: url(/images/techGadgets.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage4{
    background: url(/images/fitnessAndWellness.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage5{
    background: url(/images/movie.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage6{
    background: url(/images/reaading.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage7{
    background: url(/images/travel.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage8{
    background: url(/images/volunter.png) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage9{
    background: url(/images/webDevelopment.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage10{
    background: url(/images/music.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage11{
    background: url(/images/art.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.bcImage12{
    background: url(/images/graphicDesign.jpeg) no-repeat;
    border-radius: 9px;
    width: 100%;
}
.image-container p{
    color: royalblue;
    text-align: center;
}
#skills {
    margin-top: 2px;
    background-color: #555;
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr;
    gap: 3vh;
    text-align: center;
    

    

}
.bcImage{
    background: url(/images/webDevelopment.jpeg) top center repeat;
    width: 100%;
    height: 15vh; 
    grid-column-start: 1;   
    grid-column-end: 3;
}
#skills h1{
    font-weight:bolder;
    font-size: 1.4rem;
    font-family:cursive ;
    color: blue;
}
#skills ul{
    list-style-type: none;
   text-align: center;


}
#skills ul li{
    padding: 0.4em;

}

footer {
    background-color: black;
    color: white;
    display: grid;
    grid-auto-flow: column;
    gap: 2px;
    align-items: center;
    justify-content: space-between;
    
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
   
    nav ul{
        display: none;  
    }
    .mobile{
        width: 40px;
        height: 30px;
        color: white;
        background-color: black;
        display: grid;
    }
    .mobile:focus + ul,
    nav ul:hover{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: end;  
    }
    ul li {
        padding: 10px;
    }
    .dropdown {
        
        display: grid;
        grid-template-columns: 1fr;
    }
    .dropdown-content{
        margin-top: 40px;
    }
    #Home section{
        height: 90vh;
    }
    #Home section p{
        font-size: 25px;
        
    }
    #Home section h2{
        padding-top: 20px;
    }

    #Accomplishments header {
        display: flex;
        flex-direction: column;
    }

    #Accomplishments article {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr; 
    }
    
    #Accomplishments .sec1, .sec2 {
        grid-column: 1; 
    }
    #contacts{
        color: white;
        background-color: rgb(220, 158, 13);
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        height: 90vh;
    }
    #contacts h1{
        color: rgba(19, 61, 168, 0.989);
        
    }
    #contacts article{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    }
    
    table,th,td{
        border: 2px solid black;
        border-radius: 5px;
    }
    #contacts article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }
    #hobbies header{
        text-align: center;
        color: white;
        background-color: rgba(19, 61, 168, 0.489);
    }
    #hobbies .image-container{
        display: flex;
        flex-flow: row wrap;
        margin-left: 10px;
        
        gap: 10px;
        justify-content: space-between;
        background-color: #48f000;
        
    }
    .image-container p{
        color: royalblue;
        text-align: center;
    }
    .bcImage1{
        background: url(/images/football.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage2{
        background: url(/images/gaming.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage3{
        background: url(/images/techGadgets.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage4{
        background: url(/images/fitnessAndWellness.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage5{
        background: url(/images/movie.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage6{
        background: url(/images/reaading.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage7{
        background: url(/images/travel.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage8{
        background: url(/images/volunter.png) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage9{
        background: url(/images/webDevelopment.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage10{
        background: url(/images/music.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage11{
        background: url(/images/art.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    .bcImage12{
        background: url(/images/graphicDesign.jpeg) no-repeat;
        border-radius: 9px;
        width: 45vw;
        text-align:center;
    
    }
    #skills{
    
        background-color: #555;
        display: flex;
        
        justify-content: space-around;
        
        align-items: center;
        flex-flow: row wrap;
        height: 90vh;
        text-align:center;
    
    }
    .bcImage{
        background: url(/images/webDevelopment.jpeg) center fixed;
        width: 100vw;
        height: 15vh;    
    }
    #skills h1{
        font-weight:bolder;
        font-size: 1.4rem;
        font-family:cursive ;
        color: blue;
    }
    #skills ul{
        list-style-type: none;
    
    }
    #skills ul li{
        padding: 0.1em;
        
    }
    
    #skills:not(:first-child) {
        flex: 1;
      }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #Home section{
        height: 90vh;
    }
    #Home section p{
        font-size:30px;
        text-align: left;
        margin-left: 20px;
        
    }
    #Home section h2{
        font-size: 50px;
        float: left;
        margin-right: 10px;
       
    }
    #Accomplishments{
        height: 90vh;
    }
    #Accomplishments article {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    #Accomplishments iframe {
        width: 90%;
        box-sizing: border-box;
    }
    #hobbies .image-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        height: 80vh;
    }
    #skills{
        height: 100%;
    }
    #contacts{
        height: 90vh;
    }
} 

